

#settings-page-main {
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

#section-page-title-name {
    text-align: center;
    margin: 10px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 70px;
}


.settings-section {

}


.settings-section-title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}


.settings-form {
    padding-right: 25%;
    padding-left: 25%;

    display: flex;
}

.settings-form-label {
    flex:1;
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
}
.settings-form-input {
    flex:1;
    font-size: 16px;
}
.settings-form-submit {
    flex:1;

    all: unset;
    cursor: pointer;

    margin-left:5px;
    padding: 0 20px;

    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 5px;
}


hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #ccc;
}
