


<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>The Knight Game</title>

        <!--    libs for stomp and sockjs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.0/sockjs.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <!--    end libs for stomp and sockjs-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}">
        <link href="../static/css/game.css" rel="stylesheet" th:href="@{css/game.css}">
    </head>
    <body>

    <section id="game-page-main">

        <header id="game-page-header">

            <div id="game-page-header-coins"><img src="../static/ressources/coin.png" th:src="@{ressources/coin.png}"><p id="amount-of-gold">1300 GLD</p></div>
            <div id="game-page-header-player">Player 1</div>

            <div id="game-page-header-type-action">
                <input type="checkbox" id="get-informations-tile" name="get-informations-tile">
                <label for="get-informations-tile"> Have information when you click on a tile</label><br>

                <input type="checkbox" id="add-new-entity" name="add-new-entity">
                <label for="add-new-entity">Add new entity when you click on a tile</label><br>

                <input type="checkbox" id="increase-or-delete-tower" name="increase-or-delete-tower">
                <label for="increase-or-delete-tower">Increase or delete a tower</label><br>
            </div>

            <div>
                Health Points Castle player 1 : <a id="hp-castle-player1">0</a>HP<br>
                Health Points Castle player 2 : <a id="hp-castle-player2">0</a>HP
            </div>


        </header>


        <section id="game-body">

            <section id="game-board">

                <canvas class="game-board-canvas"></canvas>

            </section>

            <section id="user-screen-interact">

                <!--
                <div id="informations-main">

                    <div id="informations-main-title">INFORMATIONS</div>

                    <div id="informations-main-information">Here you can have some informations about twhat the player have to do</div>

                </div>
                -->

                <div id="user-buttons-row-1">
                    <div id="killer-unit-button" class="units-tower-buttons">

                        <div class="units-tower-buttons-name">
                            <p>KILLER UNIT</p>
                            <img src="../static/ressources/unit/killer_unit_logo.png" th:src="@{ressources/unit/killer_unit_logo.png}">
                        </div>
                        <div class="units-tower-buttons-icon"><img src="../static/ressources/unit/killer_unit_image.jpg" th:src="@{ressources/unit/killer_unit_image.jpg}"></div>
                        <div class="units-tower-buttons-initialsHp" id="symbol-KIU">KIU - 30HP</div>
                        <div class="units-tower-buttons-price" id="price-KIU">300 GLD</div>

                    </div>

                    <div id="fast-unit-button" class="units-tower-buttons">

                        <div class="units-tower-buttons-name"><p>FAST UNIT</p><img src="../static/ressources/unit/fast_unit_logo.png" th:src="@{ressources/unit/fast_unit_logo.png}"></div>
                        <div class="units-tower-buttons-icon"><img src="../static/ressources/unit/fast_unit_image.png" th:src="@{ressources/unit/fast_unit_image.png}"></div>
                        <div class="units-tower-buttons-initialsHp" id="symbol-FAU">FAU - 30HP</div>
                        <div class="units-tower-buttons-price" id="price-FAU">300 GLD</div>

                    </div>

                    <div id="flight-unit-button" class="units-tower-buttons">
                        <div class="units-tower-buttons-name"><p>FLIGHT UNIT</p><img src="../static/ressources/unit/flight_unit_logo.png" th:src="@{ressources/unit/flight_unit_logo.png}"></div>
                        <div class="units-tower-buttons-icon"><img src="../static/ressources/unit/flight_unit_image.png" th:src="@{ressources/unit/flight_unit_image.png}"></div>
                        <div class="units-tower-buttons-initialsHp" id="symbol-FLU">FLU - 30HP</div>
                        <div class="units-tower-buttons-price" id="price-FLU">300 GLD</div>

                    </div>

                </div>

                <div id="user-buttons-row-2">

                    <div id="normal-tower-button" class="units-tower-buttons">
                        <div class="units-tower-buttons-name"><p>NORMAL TOWER</p><img src="../static/ressources/tower/normal_tower_logo.png" th:src="@{ressources/tower/normal_tower_logo.png}"></div>
                        <div class="units-tower-buttons-icon"><img src="../static/ressources/tower/normal_tower_image.png" th:src="@{ressources/tower/normal_tower_image.png}"></div>
                        <div class="units-tower-buttons-initialsHp" id="symbol-NOT">NOT</div>
                        <div class="units-tower-buttons-price" id="price-NOT">300 GLD</div>
                    </div>

                    <div id="freeze-tower-button" class="units-tower-buttons">

                        <div class="units-tower-buttons-name"><p>FREEZE TOWER</p><img src="../static/ressources/tower/freeze_tower_logo.png" th:src="@{ressources/tower/freeze_tower_logo.png}"></div>
                        <div class="units-tower-buttons-icon"><img src="../static/ressources/tower/freeze_tower_image.png" th:src="@{ressources/tower/freeze_tower_image.png}"></div>
                        <div class="units-tower-buttons-initialsHp" id="symbol-FRT">FRT</div>
                        <div class="units-tower-buttons-price" id="price-FRT">300 GLD</div>

                    </div>



                    <div id="sniper-tower-button" class="units-tower-buttons">
                        <div class="units-tower-buttons-name"><p>SNIPER TOWER</p><img src="../static/ressources/tower/sniper_tower_logo.png" th:src="@{ressources/tower/sniper_tower_logo.png}"></div>
                        <div class="units-tower-buttons-icon"><img src="../static/ressources/tower/sniper_tower_image.png" th:src="@{ressources/tower/sniper_tower_image.png}"></div>
                        <div class="units-tower-buttons-initialsHp" id="symbol-SNT">SNT</div>
                        <div class="units-tower-buttons-price" id="price-SNT">300 GLD</div>

                    </div>
                </div>

                <div id="user-button-gold-mine">
                    <div class="units-tower-buttons-name"><p>GOLDMINE</p></div>
                    <div class="units-tower-buttons-price" id="goldmine-price">300 GLD</div>
                </div>

                <button id="next-button" class="main-button">
                    NEXT
                </button>



            </section>

        </section>

    </section>



    <script src="../static/js/gameboardcanvas.js" th:src="@{js/gameboardcanvas.js}"></script>
    <script src="../static/js/board.js"  th:src="@{js/board.js}"></script>




    </body>
</html>

